<% @games.each do |game| %>
  <div id="bid<%= game.id %>">
    <%= User.where(id: game.from).first.email %>
    <%= game.status %>
    <%= game.money %>
    <%= make_actions(game.from, game.id) %> 
    <%# make_visible(game.id) %> 
    <div class="userStatus">
    </div>
  </div>
<% end %>