<% publish_to "/request/new" do %>
  if (window.currentUser.id == <%=j @id %>){ 
     obj = $("#requestGame");
     alert("<%= @stage %>")
    if ("<%= @stage %>" == "req"){
      alert('Want to play '+<%=j @id %> );
      obj.append("want to play with " + <%= j @id %>);
      linkYes = '<%= link_to "Yes", edit_game_path(@id), :remote => true, :stage => "anws", :answer => "yes" %>';
      linkNo = '<%= link_to "No", edit_game_path(@id), :remote => true, :stage => "anws", :answer => "no" %>';
      obj.append(linkYes);
      obj.append(linkNo);
    } else if ("<%= @stage %>" == 'anws'){
      // if (<%= @answer %> == 'yes'){
      //   alert('Yes '+<%= @id %> );
      //   obj.append("Happy");
      // }else{
      //   alert('No '+<%= @id %> );
      //   obj.append("sad");
      // }
    }
  }
<% end %>

function buttonYes(id){
  html = '<button '; 
  html += ' id="requestYes" data-id-from="'+id+'" data-id-to=""">';
  html += 'Yes';
  html += '</button>';
  return html;
}

function buttonNo(id){
  html = '<button '; 
  html += ' id="requestYes" data-id-from="'+id+'" data-id-to="">';
  html += 'No';
  html += '</button>';
  return html;
}