<% if @games %>
  <% @games.each do |game| %>
    <div id="game<%= game.id %>">
      <%= User.where(id: game.from).first.email %>
      <% if game.to == 0 %>
        your bid
      <% else %>
        <%= User.where(id: game.to).first.email %>
      <% end %>
      <%= game.status %>
      <%= game.money %>
      <% if game.visible_change?(current_user.id) %>
        <%= create_visible_switcher(game) %>
      <% end %>
      <% if game.status == "bid" %>
        <%= create_close_game(current_user.id, game) %>
      <% end %>
    </div>
  <% end %>
<% end %>