<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="../" class="navbar-brand">Bootswatch</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to 'All PLayers', games_path %>
        </li>
        <% if user_signed_in? %>
          <li>  
            <%= link_to 'Make bid', bid_game_path %>
          </li>
          <li>
            <%= link_to 'See all bids', all_bid_game_path %>
          </li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">  
        <% if user_signed_in? %>
          <li>
            <%= link_to 'Logged In [click to logout]', destroy_user_session_path, :method => :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to 'Login', new_user_session_path %>
          </li>
          <li>
            <%= link_to 'Registration', new_user_registration_path %>
          </li>
        <% end %>
      </ul>

    </div>
  </div>
</div>