<% if user_signed_in? %>
    <% Game.all_games(current_user.id).each do |game| %>
      <div id="game<%= game.to %>">
        <%= game.status %>
        <% if game.from == current_user.id %>
          <% if game.status == "request" %>
            Waiting for <%= game.to %>
          <% elsif game.status == "action" %>
            WON <%= game.to %>??
            <%= make_yes_no(game.to, "result") %>
          <% end %> 
        <% else %>
          <% if game.status == "request" %>
            Request from <%= game.from %>
            <%= make_yes_no(game.from, "answer") %>
          <% elsif game.status == "action" %>
            WON <%= game.from %>??
            <%= make_yes_no(game.from, "result") %>
          <% end %> 
        <% end %>
      </div>
    <% end %>
<% end %>