<!DOCTYPE html>
<html>
<head>
  <title>AEA</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <% if user_signed_in? %>
  
  <%= render 'layouts/shared/user_id' %>
  <% end %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "http://localhost:9292/faye.js" %>
</head>
<body>
  <%= render 'layouts/shared/nav_menu' %>
  <br/><br/><br/>
  <%= render 'layouts/shared/flash_widget' %>
  <%= yield %>
  <%= render 'layouts/shared/user_subscribe' %>

  <div id="requestGame">
    <%= render 'games/shared/request_games_table' %>
  </div>
</body>
</html>
