<!DOCTYPE html>
<html>
<head>
  <title>AEA</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <% if user_signed_in? %>
  
  <%= render 'layouts/user_id' %>
  <% end %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "http://localhost:9292/faye.js" %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= render 'layouts/user_widget' %>
  <br>
  <%= yield %>
  <%= render 'layouts/user_subscribe' %>

  <div id="gamesRequest">
    <%= render 'layouts/user_requests' %>
  </div>
</body>
</html>
